.btn {
  border: 1.05556px solid #e0007f;
  box-shadow: 0px 1.05556px 2.11111px rgba(16, 24, 40, 0.05);
  border-radius: 8.44444px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}
