.privacy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 28px;

  .privacy-text {
    font-size: 14px;
    margin: 0 8px 0 12px;
  }
}
