$gap-btwn-name-icon: 8.5px;
$width-left-icon: 18px;
$left-margin-width: calc($gap-btwn-name-icon + $width-left-icon);

.folder-dropdown-container {
  position: relative;

  .folder-dropdown {
    position: relative;

    input {
      width: 100%;
      line-height: 24px;

      padding: 9px 12px;
      box-sizing: border-box;

      border: 0.885677px solid #d0d5dd;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 7.08542px;

      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #101828;

      &:focus-visible {
        outline: none;
      }
    }

    .toggle-dropdown-icon {
      position: absolute;
      right: 0;
      top: 0;

      width: 40px;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      &.show {
        transform: rotate(180deg);
      }
    }
  }

  .folders-list {
    display: none;
    background-color: white;

    width: 100%;
    margin: 0;
    padding: 5.5px;

    list-style-type: none;

    font-size: 14px;
    font-weight: 500;

    border: 0.885677px solid #eaecf0;
    box-shadow: 0px 10.6281px 14.1708px -3.54271px rgba(16, 24, 40, 0.08),
      0px 3.54271px 5.31406px -1.77135px rgba(16, 24, 40, 0.03);
    border-radius: 7.08542px;

    position: absolute;
    top: 50px;

    &.active {
      display: block !important;
    }

    .folders-list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 14px;
      border-radius: 5.5px;

      cursor: pointer;
      z-index: 2;

      &:hover {
        background-color: #fff4fa;
      }

      .folders-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .folder-name {
          margin-left: $gap-btwn-name-icon;
          margin-right: $gap-btwn-name-icon;

          .folder-name-parent {
            color: #98a2b3;
          }
        }

        .folder-list-left-icon {
          width: $width-left-icon;

          margin-right: $gap-btwn-name-icon;

          display: flex;
          justify-content: center;
          align-items: center;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .folders-list-children {
    padding-left: 27px;
  }

  .new-subfolder-input {
    width: 79px;
    height: 30px;

    font-size: 14px;

    padding: 10px; 
    margin-right: 9.5px;

    &::placeholder {
      color: #98a2b3;
    }
  }
}
