.text-color-primary-600 {
  color: #e0007f;
}

.text-color-primary-700 {
  color: #cc0174;
}

#product-notes {
  width: 100%;
  box-sizing: border-box;

  padding: 8.5px;
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 20px;

  border: 0.844821px solid #d0d5dd;
  box-shadow: 0px 0.844821px 1.68964px rgba(16, 24, 40, 0.05);
  border-radius: 6.75857px;

  resize: vertical;
}

#product-notes::placeholder {
  font-family: 'Inter';
  font-weight: 500;
}

.btn-content-chest {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;
}

.btn-content-chest .btn-content-chest-text {
  margin-right: 11px;
}

.input {
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

input:focus-visible {
  outline: none;
}
